*~
STCN-store
RDF-store
cache
settings.db
users.db
.pl-history
httpd.log
doc/Makefile
doc/config.log
doc/config.status
doc/serql.tex
run.pl
config-enabled
cpack-mirrors
.#*
*#*#
Makefile
*.mp3
RDF-store
cache
settings.db
users.db
.pl-history
httpd.log
doc/Makefile
doc/config.log
doc/config.status
doc/serql.tex
config-enabled
cpack-mirrors
www/img/tmp.jpeg
www/img/tmp.svg
