[submodule "web/FlintSparqlEditor"]
	path = web/FlintSparqlEditor
	url = https://github.com/TSO-Openup/FlintSparqlEditor.git
[submodule "PGC"]
	path = PGC
	url = https://github.com/wouterbeek/PrologGenericsCollection.git
[submodule "EnergyLabels"]
	path = EnergyLabels
	url = https://github.com/wouterbeek/EnergyLabels.git
[submodule "swi-prolog-on-dotcloud"]
	path = swi-prolog-on-dotcloud
	url = https://github.com/mndrix/swi-prolog-on-dotcloud
[submodule "Beekeeper"]
	path = Beekeeper
	url = https://github.com/wouterbeek/Beekeeper.git
