[submodule "Prolog-Library-Collection"]
	ignore = dirty
	path = Prolog-Library-Collection
	url = https://github.com/wouterbeek/Prolog-Library-Collection.git
[submodule "Beekeeper"]
	path = Beekeeper
	url = https://github.com/wouterbeek/Beekeeper.git
[submodule "STCN"]
	path = STCN
	url = https://github.com/wouterbeek/STCN.git
[submodule "SWAG"]
	path = SWAG
	url = https://github.com/wouterbeek/SWAG.git
[submodule "LODObs"]
	path = LODObs
	url = https://github.com/wouterbeek/LODObs.git
[submodule "IDEAology"]
	path = IDEAology
	url = https://github.com/wouterbeek/IDEAology.git
[submodule "WebQR"]
	path = WebQR
	url = https://github.com/wouterbeek/WebQR.git
[submodule "humR"]
	path = humR
	url = https://github.com/wouterbeek/humR.git
[submodule "EnergyLabels"]
	path = EnergyLabels
	url = https://github.com/wouterbeek/EnergyLabels.git
[submodule "DataHives"]
	path = DataHives
	url = https://github.com/wouterbeek/DataHives.git
[submodule "IAAA"]
	path = IAAA
	url = https://github.com/wouterbeek/IAAA.git
[submodule "IOTW"]
	path = IOTW
	url = https://github.com/wouterbeek/IOTW.git
[submodule "CKAN-2-RDF"]
	path = CKAN-2-RDF
	url = https://github.com/wouterbeek/CKAN-2-RDF.git
