/* ERROR MESSAGES */

.action {
  font-weight: bold;
}

.error, .fail {
  background-color: LightCoral;
}

.error_kind {
  color: Maroon;
  font-weight: bold;
}

.exit_status_code, .file, .max_errors, .mime, .program {
  font-family: monospace;
}

.never_reached {
  background-color: Orange;
}

.skip {
  background-color: Yellow;
}

.succeed {
  background-color: LightGreen;
}
.succeed caption {
  background-color: black;
  color: #e0e0e0;
  font-weight: bold;
}
.succeed th {
  background-color: #e0e0e0;
  border-bottom: 1px solid #cbcbcb;/*  inner column border */
}

