/* IMAGE */

/* Image caption appearing below an image in an image box. */

*.image_caption {
  font-family: serif;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: 0.025em;
  margin: 2px;
  text-align: center;
  width: 220px;
  word-spacing: 0.02em;
}


/* Image that is part of an image box. */

*.image_thumbnail {
  height: 180px;
  max-width: 220px;
  width: auto;
}
*.image_thumbnail {
  height: auto;
  max-height: 180px;
  width: 220px;
}
*.image_thumbnail {
  display: inline-block;
  margin: 2px;
  text-align: center;
}
*.image_thumbnail a img {
  border: 1px solid #ffffff;
  display: inline;
  margin: 6px;
}
*.image_thumbnail a:hover img {
  border: 1px solid #0000ff;
}


/* An image box contains an image and a caption. */

div.image_thumbnail_box {
  background-color: #d8d8d8;
  display: inline-block;
  height: auto;
  margin: 2px;
  text-align: center;
  width: auto;
}


/* A group of image boxes. */

*.image_thumbnail_box_group {
  display: block;
  height: auto;
  margin: 6px;
  width: auto;
}

