/* PAGE */

#page_title {
  color: #dfdfdf;
  background-color: #191922;
  font-family: serif;
  font-size: 275%;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  padding: 25px 25px 25px 25px;
  text-align: center;
  text-indent: 2.5%;
  text-transform: capitalize;
}

