*.action {
  background-color: yellow;
  color: black;
  font-family: monospace;
}

*.file_name {
  font-family: monospace;
}

*.emphasis {
  font-style: italic;
  font-family: monospace;
}

*.module_name {
  font-family: monospace;
}

*.predicate_name {
  font-family: monospace;
}

*.shell_command {
  font-family: monospace;
}

*.syntax {
  background-color: black;
  color: yellow;
  font-family: monospace;
}

*.term {
  background-color: white;
  color: red;
  font-family: monospace;
}

*.type {
  background-color: white;
  color: blue;
  font-family: monospace;
}

h1 {
  display: block;
  font-size: 175%;
  font-weight: bold;
  text-align: center;
}

p {
  display: block;
  font-family: serif;
}



/* TABLE */

caption {
  font-weight: bold;
}

table {
  min-width:600px;
}

td:hover {
  background-color: black;
  color: white;
}

